

<footer style="text-align:center;"> Created By Jquan Collins
    <a href="https://github.com/jquan114" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/jquancollins/" target="_blank">Linked In</a>
    <a href="https://twitter.com/jquancollins96" target="_blank">Twitter</a>
</footer>
