<! DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Express Blog</title>
    </head>
    <body>
        <header>
            <h1><%= article.title %></h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/articles">Articles Index</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <form action="/articles/<%= article._id%>?_method=DELETE" method="POST">
                    <input type="submit" value=" Delete Article" />
                    <a href="/articles/<%=article._id%>/edit">Edit</a>
                <%= article.body %>
            </section>
        </main>
    </body>
</html>